body, html {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

* {
    text-shadow: 0 0 1px deepskyblue;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu Mono";
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 50vh;
    flex-direction: row;
}

.videoContainer {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#localVideo {
    width: 100%;
    height: auto;
    /*filter: hue-rotate(180deg) saturate(200%);
    -moz-filter: hue-rotate(180deg) saturate(200%);
    -webkit-filter: hue-rotate(180deg) saturate(200%);*/
}

select, input {
    height: 25px;
    background: white;
    border: 2px deepskyblue solid;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
}

select:active, input:active, button:focus {
    outline: none;
    box-shadow: 0 0 5px deepskyblue;
}

select:focus, input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px deepskyblue;
}

.row {
    width: 70%;
    margin: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

#join {
    flex: 2;
}

.void {
    flex: 0.5;
}

button {
    flex: 1;
    background: white;
    border: 2px deepskyblue solid;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    height: 25px;
}

#new {
    flex: 1;
}

#create {
    flex: 2;
}

.title {
    flex: 0.5;
    font-size: 48px;
}