body, html {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

#localVideo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30vh;
    width: auto;
    filter: hue-rotate(180deg) saturate(200%);
    -moz-filter: hue-rotate(180deg) saturate(200%);
    -webkit-filter: hue-rotate(180deg) saturate(200%);
    z-index: 10;
}

#remoteVideo {
    position: absolute;
    height: 40vh;
    width: auto;
    top: 0;
    left: 0;
    z-index: 10;
}

#mapid {
    width: 100%;
    height: 100%;
}